
<div class="">
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% render(controller('FormatEasyFormatosBundle:Formato:index', {'ajax': 1})) %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% render(controller('FormatEasyFormatosBundle:Pregunta:index', {'ajax': 1})) %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% render(controller('FormatEasyFormatosBundle:Respuesta:index', {'ajax': 1})) %}
    </div>
</div>