
<div class="row show-grid">
    <div class="col-xs-4 col-sm-4 col-md-4">
        {% render(controller('FormatEasyFormatosBundle:Formato:index', {'ajax': 1})) %}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        {% render(controller('FormatEasyFormatosBundle:Pregunta:index', {'ajax': 1})) %}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        {% render(controller('FormatEasyFormatosBundle:Respuesta:index', {'ajax': 1})) %}
    </div>
</div>