
<div class="row show-grid">
    <div class="col-xs-6 col-sm-6 col-md-6">
        {% render(controller('FormatEasyPlantillasBundle:Hoja:index', {'ajax': 1})) %}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        {% render(controller('FormatEasyPlantillasBundle:PlantillaFormato:index', {'ajax': 1})) %}
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-6 col-sm-6 col-md-6">
        {% render(controller('FormatEasyPlantillasBundle:PlantillaRespuesta:index', {'ajax': 1})) %}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        {% render(controller('FormatEasyPlantillasBundle:PlantillaPregunta:index', {'ajax': 1})) %}
    </div>
</div>