{% extends '::base_bootstrap.html.twig' %}

{% block body -%}
    {% include "FormatEasyFormatosBundle:Formato:_edit.html.twig" %}
    <ul class="content-plantilla">
        {% for pp in entity.preguntas %}
            <li>
            {% render(controller('FormatEasyFormatosBundle:PreguntaFormato:editPreguntaFormato', {'id': pp.id})) %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.margen').addClass('mouseenter');
            var pp = eval({{ plantillaPregunta.json | raw}}),
                f = eval({{ entity.json | raw}}),
                pf = eval({{ plantillaFormato.json | raw}}),
                hoja = pf.hoja;
            $('.hoja-cont').css({
                'padding-top'    : f.margen_sup+f.unidad_margen,
                'padding-right'  : f.margen_der+f.unidad_margen,
                'padding-left'   : f.margen_izq+f.unidad_margen,
                'padding-bottom' : f.margen_inf+f.unidad_margen,
                'height': hoja.alto+hoja.unidad,
                'width' : hoja.ancho+hoja.unidad
            });
            $('form.edit-inline .hoja-cont').children().on({
                focusin: function(){
                    $('.hoja-cont').addClass('focused');
                },
                focusout: function(){
                    $('.hoja-cont').removeClass('focused');
                }
            });
            $('.margen').on({
                mouseenter: function(){
                    $(this).addClass('mouseenter');
                },
                mouseleave: function(){
                    if(!$(this).hasClass('focused'))
                        $(this).removeClass('mouseenter');
                },
                focusin: function(){
                    $(this).addClass('focused');
                },
                focusout: function(){
                    $(this).removeClass('focused mouseenter');
                }
            });
            var margen_input = null;
            $('.margen input, #unidad').on({
                mouseenter: function(){
                    if($(this).attr('id') !== 'unidad'){
                        margen_input = $(this);
                        $('#unidad').position({
                            of:         margen_input,
                            my:         "right center",
                            at:         "right center",
                            collision:  "fit fit"
                        });
                    }
                    margen_input.parent().addClass("mouseenter");
                    $('#unidad').stop().animate({opacity: 1});
                },
                mouseleave: function(){
                    
                    if(!margen_input.hasClass('focused') && !$('#unidad').hasClass('focused')){
                        margen_input.parent().removeClass("focused mouseenter");
                        $('#unidad').stop().animate({opacity: 0});
                    }
                },
                focusin: function(){
                    if($(this).attr('id') !== 'unidad'){
                        margen_input = $(this);
                        $('#unidad').position({
                            of:         margen_input,
                            my:         "right center",
                            at:         "right center",
                            collision:  "fit fit"
                        });
                    }
                    margen_input.parent().addClass("focused mouseenter");
                    $('#unidad').addClass('focused').stop().animate({opacity: 1});
                },
                focusout: function(){
                    $('#unidad').removeClass('focused').stop().animate({opacity: 0});
                    margen_input.parent().removeClass('mouseenter focused');
                }
            });
            
            /*Carga de la Página*/
            $('.hoja-cont .encabezado-pagina').css({
                'height'    :  f.margen_sup+f.unidad_margen,
                'margin-top':  (f.margen_sup*-1)+f.unidad_margen
            });
            $('.hoja-cont .pie').css({
                'height'    :  f.margen_inf+f.unidad_margen
            });
            //Template de los item de pregunta
            var template_item = $('.hoja-cont .contenido-pagina .template-item-pregunta').remove();
            /*Carga de la Página*/
            
            /*Configuración*/
            var menu_open_l = '#mmenu-left';
            $(menu_open_l).find('.mm-inner .mmenu-content').html($('.hoja-config .form-hide').html());
            $(menu_open_l).find('.mm-inner .mmenu-content').find('select').on('change', function(){
                var val = $(this).val();
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')+' option').removeAttr('selected');
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')+' option[value='+val+']').attr('selected', true);
            });
            $(menu_open_l).find('.mm-inner .mmenu-content textarea').on('change, keyup', function(){
                var val = $(this).val();
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')).text(val);
            });
            $(menu_open_l).find('.mm-inner .mmenu-content input').on('change, keyup', function(){
                var val = $(this).val();
                if($(this).attr('type') === 'submit'){
                    $('.hoja-config .form-hide').find('#'+$(this).attr('id')).click();
                }else{
                    $('.hoja-config .form-hide').find('#'+$(this).attr('id')).val(val);
                }
            });
            $('.hoja-config').find('.btn.config').click(function(){
                var click_open = true;
                if($('html').hasClass('mm-opened') && !$('html').hasClass('mm-modal')){
                    $('nav.mmenu').not(menu_open_l).on("closed.mm",function(){
                            if(click_open){
                                $(menu_open_l).trigger('toggle.mm');
                                click_open = false;
                            }
                        }
                    ).trigger('close.mm');
                }else{
                    $(menu_open_l).trigger('toggle.mm');
                }
            });
            $('input[type=button].btn.delete').on('click', function(){
                if(true)
                    $('.form-hide.delete form').submit();
            });
            /*Configuración*/
            
            /*Construcción*/
            var menu_open_r = '#mmenu-right';
            
            $.ajax({
                url: "{{ url('_plantillaRespuesta_buttonlist', {'formato': entity.canonical}) }}"  
            }).done(function(data) {
                $(menu_open_r).find('.mm-inner .mmenu-content').html(data);
                $( ".drop_pregunta" ).sortable({
                    connectWith: "#button-list-plantilla-respuesta a",
                    dropOnEmpty: true,
                    placeholder: "btn btn-warning placeholder-sort-pregunta",
                    scroll: false,
                    stop: function(event, ui) {
                        /*Obtiene la estructura*/
                        $.ajax({
                            url:   ui.item.attr('href')+ui.item.index()+'/'
                        }).done(function(data) {
                            var li = template_item.clone();
                            ui.item.replaceWith(li.html(data));
                            var enunciado = li.children('.enunciado');
                            enunciado.siblings('.enunciado-pregunta').html(enunciado.html());
                            enunciado.remove();
                        }).fail(function( jqXHR, textStatus ) {
                            console.log("Request failed: "+textStatus);
                        }).always(function() {
                            ajustarContentAjax();
                            ajustarPlaceholder();
                        });
                        /*Obtiene la estructura*/
                    }
                });
                $( "#button-list-plantilla-respuesta a" ).draggable({
                    connectToSortable: ".drop_pregunta",
                    helper: function(){
                        console.log($(this).attr('href'));
                        return $('<li></li>').html($(this).clone());
                    },
                    revert: "invalid",
                    scroll: false,
                    start: function(event, ui){
                        $('html.mm-opened .mm-menu.mm-right.mm-front .mm-inner').css({
                            overflow: 'visible'
                        });
                    },
                    stop: function(event, ui){
                        $('html.mm-opened .mm-menu.mm-right.mm-front .mm-inner').css({
                            overflow: 'auto'
                        });
                    }
                });
                $( "#button-list-plantilla-respuesta a, .drop_pregunta li" ).disableSelection();
                
            }).fail(function( jqXHR, textStatus ) {
                console.log("Request failed: "+textStatus);
            }).always(function() {
                ajustarContentAjax();
            });
            $('#button-list-plantilla-respuesta a').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
            });
            $('.hoja-config').find('.btn.construct').click(function(){
                var click_open = true;
                if($('html').hasClass('mm-opened') && !$('html').hasClass('mm-right')){
                    $('nav.mmenu').not(menu_open_r).on("closed.mm",function(){
                            if(click_open){
                                $(menu_open_r).trigger('toggle.mm');
                                click_open = false;
                            }
                        }
                    ).trigger('close.mm');
                }else{
                    $(menu_open_r).trigger('toggle.mm');
                }
            });
            $('.content-plantilla li').each(function(){
                var li = template_item.clone();
                li.html($(this).html());
                var enunciado = li.children('.enunciado');
                enunciado.siblings('.enunciado-pregunta').html(enunciado.html());
                enunciado.remove();
                $('.hoja-cont .contenido-pagina .drop_pregunta').append(li);
                $(this).remove()
            });
            /*Construcción*/
        });
    </script>
{% endblock %}