/* 
    Document   : index
    Created on : 8/10/2013, 03:15:15 PM
    Author     : hender
    Description:
        Purpose of the stylesheet follows.
*/
.greyscale{
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; filter: grayscale(100%);
    filter: url("../images/greyscale.svg#greyscale");
}
/*#content{
    padding: 2em;
}*/
.row.show-grid .clear.clear-fix.clearfix{
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mm-opened #content,
body { 
    padding-top: 70px; 
}

.navbar-form .form-control {
    width: auto;
}
.navbar-inverse .form-group label:not(.btn) {
    color: #999;
}
.btn:focus,
:focus, 
:active, 
:hover{
    outline: none;
}
td:focus,
td:active,
td:hover{
    box-shadow: inset 10px 0px 20px -10px #AAA, inset -10px 0px 20px -10px #AAA;
}
table:focus,
table:active,
table:hover{
    box-shadow: 0px 10px 30px -15px #AAA, 0px -10px 30px -20px #AAA;
    top: 1px;
    position: relative;
    -webkit-transform: scale(1.008);
    -moz-transform: scale(1.008);
    -ms-transform: scale(1.008);
    -o-transform: scale(1.008);
    transform: scale(1.008);
}
.btn:focus,
.btn:active,
.btn:hover{
    box-shadow: 0px 0px 5px 1px #AAA;
    text-shadow: 0 0 10px #555;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
table .btn:focus,
table .btn:active,
table .btn:hover{
    box-shadow: 0px 0px 5px 1px #AAA;
    text-shadow: 0 0 10px #555;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
table,
td,
.btn{
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: all;
    -moz-transition-duration: 0.35s;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-property: all;
    -ms-transition-duration: 0.35s;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-property: all;
    -o-transition-duration: 0.35s;
    -o-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

/*********** Mmenu ***********/
html #mm-blocker,
.mm-inner{
    -webkit-transition-property: width, border, padding, top, right, bottom, left, margin, border, opacity , -webkit-transform;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: width, border, padding, top, right, bottom, left, margin, border, opacity , -moz-transform;
    -moz-transition-duration: 0.45s;
    -moz-transition-timing-function: ease-out;
    -ms-transition-property: width, border, padding, top, right, bottom, left, margin, border, opacity , -ms-transform;
    -ms-transition-duration: 0.45s;
    -ms-transition-timing-function: ease-out;
    -o-transition-property: width, border, padding, top, right, bottom, left, margin, border, opacity , -o-transform;
    -o-transition-duration: 0.45s;
    -o-transition-timing-function: ease-out;
    transition-property: width, border, padding, top, right, bottom, left, margin, border, opacity , transform;
    transition-duration: 0.45s;
    transition-timing-function: ease-out;
}
#mm-blocker,
.mm-inner {
    opacity: 0;
    position: relative;
    padding: 0;
    margin: 0;
}
html.mm-top #mm-blocker,
html.mm-top .mm-inner{
    margin-top: -20%;
}
html.mm-top .mm-inner{
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
    position: relative;
    padding: 20px 20px 20px 20px;
}
nav.mmenu.mm-menu.mm-top
{
    height: 40%;
    top: 0px;
}
html.mm-opening.mm-modal #mm-blocker{
    opacity: 0.5;
    margin-top: -50px;
}
html.mm-top nav.mm-front,
html.mm-bottom nav.mm-front{
    height: 50%;
}
html.mm-opening.mm-modal #mmenu-left.mm-opened ~ #mm-blocker{
    height: 112%;
    margin-top: -70px;
}
html.mm-opening nav.mmenu.mm-menu .mm-inner
{
    opacity: 1;
}

.mm-opening nav.mmenu.mm-menu#mmenu-bottom .mm-inner
{
    padding-bottom: 70px;
}
.mm-opening nav.mmenu.mm-menu.mm-top .mm-inner
{
    padding: 30px 60px 0px 60px;
    margin-top: 0;
}
div#mm-blocker{
    background: rgba(235,235,235,0.75);
}

html.mm-opening .mm-inner .mmenu-header{
    position: fixed;
    z-index: 999999999;
    display: block;
    text-align: center;
}
.mmenu-header{
    display: none;
    width: 100%;
    left: 0;
    top: 0px;
    margin-bottom: 0px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 26px;
    background: rgba(0, 0, 0, 0.1);
    background: #EEE;
}
html.mm-opened .mm-menu.mm-right.mm-front{
    right: -15%;
    width: 215px;
    padding-top: 30px;
    margin: 0px;
    overflow: visible;
}
html.mm-opening.mm-opened .mm-menu.mm-right.mm-front{
    right: 0px;
    width: 215px;
    padding-top: 30px;
    margin: 0px;
}
html.mm-opening .mm-menu.mm-right.mm-front .btn-group-vertical{
    width: 100%;
}
html.mm-opened .mm-menu.mm-right.mm-front .mm-inner{
    padding: 0;
    overflow: auto;
}
html.mm-opening.mm-right.mm-front #mm-blocker{
    display: none;
}
html.mm-opened.mm-right.mm-front .mm-page{
    overflow: auto;
}
/*********** Mmenu ***********/

/*********** Table ***********/
table.table thead th{
    text-align: center;
    vertical-align: middle;
}
/*********** Table ***********/

/*********** Form ***********/

/*********** Form Formato ***********/
form.edit-inline .titulo input,
form.edit-inline .titulo textarea,
form.edit-inline .titulo{
    font-size: 16px;
    text-align: center;
    width: 100%;
}
form.edit-inline .desccripcion input,
form.edit-inline .desccripcion textarea,
form.edit-inline .desccripcion{
    font-size: 12px;
    text-align: justify;
    width: 100%;
}
form.edit-inline textarea,
form.edit-inline input:not([type="submit"]){
    border: 1px solid #fff;
    outline: none;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
}
form.edit-inline .margen{
    text-align: center;
    height: 40px;
    width: 100px;
}
form.edit-inline .margen,
form.edit-inline .margen *{
    opacity: 0;
}
form.edit-inline .margen.mouseenter,
form.edit-inline .margen:focus,
form.edit-inline .margen:hover,
form.edit-inline .margen.mouseenter *,
form.edit-inline .margen:focus *,
form.edit-inline .margen:hover *{
    opacity: 1;
}
form.edit-inline .margen input{
    text-align: center;
}
form.edit-inline .margen.focused input,
form.edit-inline .margen input:hover,
form.edit-inline .margen input:focus{
    text-align: left;
}
form.edit-inline .hoja-inf .margen,
form.edit-inline .hoja-sup .margen{
    position: absolute;
    width: 90%;
}
form.edit-inline .hoja-izq .margen,
form.edit-inline .hoja-der .margen{
    position: fixed;
    
}
form.edit-inline .hoja-inf .margen,
form.edit-inline .hoja-sup .margen{
    left: 5%;
}
form.edit-inline .hoja-izq .margen input,
form.edit-inline .hoja-der .margen input,
form.edit-inline .hoja-inf .margen input,
form.edit-inline .hoja-sup .margen input{
    height: 30px;
    width: 100px;
}
form.edit-inline .hoja-sup .margen{
    top: 120px;
}
form.edit-inline .hoja-inf .margen{
    bottom: 0px;
    position: fixed;
}
form.edit-inline .hoja-izq .margen,
form.edit-inline .hoja-der .margen{
    top: 60px;
    width: 100px;
    height: 90%
}
form.edit-inline .hoja-izq .margen input,
form.edit-inline .hoja-der .margen input{
    top: 50%;
    position: relative;
}
form.edit-inline .hoja-izq .margen{
    left: 0;
}
form.edit-inline .hoja-der .margen{
    right: 15px;
}
form.edit-inline .focused textarea,
form.edit-inline .focused input,
form.edit-inline textarea:hover,
form.edit-inline textarea:focus,
form.edit-inline input:not([type="submit"]):hover,
form.edit-inline input:not([type="submit"]):focus{
    border: 1px solid #ccc;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.3);
    margin-top: 7px;
    border-top: none;
    border-bottom: none;
    z-index: 9999999;
    position: relative;
}
form.edit-inline #unidad{
    opacity: 0;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 99999999999;
}
form.edit-inline #unidad.focused{
    opacity: 1;
}
form.edit-inline #unidad input{
    position: relative;
    text-align: center;
    width: 80%;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
}
form.edit-inline #unidad.focused input,
form.edit-inline #unidad input:focus,
form.edit-inline #unidad input:hover{
    border: 1px solid #ccc;
    border-left: none;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.3);
}
form.edit-inline ~ .hoja-cont{
    border: 1px solid #DDD;
    box-shadow: 0 0 10px 5px #EEE;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
form.edit-inline + .hoja-cont:focus,
form.edit-inline + .hoja-cont:hover,
form.edit-inline + .hoja-cont.focused{
    border: 1px solid #AAA;
    box-shadow: 0 0 15px 1px #AAA;
}
form.edit-inline .hoja-config{
    margin-bottom: 15px;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    z-index: 9;
}
nav.mm-menu.mm-front .mm-inner{
    padding: 20px 10px 20px 80px;
}
.form-hide{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
form.edit-inline .drop_pregunta{
    min-height: 50px;
}
/*********** Form Formato ***********/

/*********** Form Página Formato ***********/
.hoja-cont .pie-pagina,
.hoja-cont .contenido-pagina,
.hoja-cont .encabezado-pagina,
.hoja-cont .placeholder-sort-pregunta,
.hoja-cont .placeholder-sort-group-pregunta{
    text-align: center;
    width: 100%;
}
.hoja-cont .placeholder-sort-group-pregunta{
    height: 100%;
    width: 33%;
}
.hoja-cont .encabezado-pagina{
    overflow: auto;
}
.hoja-cont .contenido-pagina,
.hoja-cont .contenido-pagina ol{
    height: 95%;
    text-align: justify;
    /*overflow: hidden;*/
    overflow: visible;
}
.hoja-cont .contenido-pagina,
.hoja-cont .contenido-pagina textarea,
.hoja-cont .contenido-pagina select,
.hoja-cont .contenido-pagina input{
    font-size: 12px;
}
.hoja-cont .contenido-pagina ol{
    /*overflow: auto;*/
    overflow: visible;
    height: auto;
    position: relative;
}
.hoja-cont .contenido-pagina .design-formato ol{
    padding: 0;
}
.design-formato .template-item-pregunta.editando,
.design-formato .template-item-pregunta:hover,
.design-formato .template-item-pregunta:focus,
.hoja-cont .template-item-pregunta{
    border-radius: 10px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 15px 10px -15px #CCC, 0 -10px 15px -10px #CCC;
    background: rgba(250, 250, 250, 0.7);
}
.hoja-cont .template-item-pregunta .enunciado-pregunta form{
    border-right: 1px solid #EEE;
}
.content-plantilla{
    display: none;
}
.hoja-cont .template-item-pregunta .enunciado-pregunta .opciones-pregunta-pagina{
    box-shadow: -5px 0px 10px -5px #CCC, inset 5px 0px 10px -5px #CCC;;
    display: none;
    opacity: 0;
    position: absolute;
    padding: 5px 0px 5px 2px;
}
.hoja-cont .template-item-pregunta .respuesta-pregunta,
.hoja-cont .template-item-pregunta .enunciado-pregunta.editando .opciones-pregunta-pagina .btn.editar-pregunta,
.hoja-cont .template-item-pregunta .enunciado-pregunta .opciones-pregunta-pagina .btn:not(.editar-pregunta){
    display: none;
    opacity: 0;
}
.hoja-cont .template-item-pregunta .respuesta-pregunta.editando{
    display: block;
    opacity: 1;
    margin-top: 10px;
}
.hoja-cont .template-item-pregunta .plantilla-aplica.editando{
    max-height: 180px;
    overflow: auto;
}
.hoja-cont .template-item-pregunta .enunciado-pregunta form.edit-inline{
    max-height: 0;
    overflow: hidden
}
.hoja-cont .template-item-pregunta .enunciado-pregunta.editando form.edit-inline{
    max-height: 20em;
}
.hoja-cont .template-item-pregunta .enunciado-pregunta.editando .opciones-pregunta-pagina .btn{
    display: block;
    opacity: 1;
}

.hoja-cont .template-item-pregunta .item-respuesta .opciones-respuesta > .row:first-child .btn-group .btn:first-child{
    border-bottom-left-radius: 0;
}
.hoja-cont .template-item-pregunta .item-respuesta .opciones-respuesta > .row:first-child .btn-group .btn:last-child{
    border-bottom-right-radius: 0;
}
.hoja-cont .template-item-pregunta .item-respuesta .opciones-respuesta > .row:last-child .btn-group .btn:first-child{
    border-top-left-radius: 0;
}
.hoja-cont .template-item-pregunta .item-respuesta .opciones-respuesta > .row:last-child .btn-group .btn:last-child{
    border-top-right-radius: 0;
}
.hoja-cont .template-item-pregunta .item-respuesta form{
    margin-bottom: 15px;
}

.hoja-cont .template-item-pregunta .enunciado-pregunta .opciones-pregunta-pagina .btn-group-vertical>.btn:last-child:not(:first-child),
.hoja-cont .template-item-pregunta .enunciado-pregunta .opciones-pregunta-pagina .btn-group-vertical>.btn:first-child:not(:last-child),
.hoja-cont .template-item-pregunta .enunciado-pregunta .opciones-pregunta-pagina .btn-group-vertical>.btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.opciones{
    margin-right: 10px;
}
.encabezado-pagina .pie-drop-pregunta,
.encabezado-pagina .encabezado-drop-pregunta{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 1em;
}
.contenido-pagina li.salto-pagina{
    /*outline: 1px solid;*/
}
.editando .text-success{
    font-size: 16px;
    font-weight: bold;
}
/*********** Form Página Formato ***********/
.form-inline .form-control{
    width: auto;
}
/*********** Diseñar Página Formato ***********/
.hoja-cont.design-formato .encabezado-pagina{
    overflow: hidden;
}
.design-formato .template-item-pregunta{
    border-radius: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
    background: rgba(250, 250, 250, 0.7);
}
.design-formato .template-item-pregunta{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}
.design-formato .drop_pregunta .template-item-pregunta.editando,
.design-formato .drop_pregunta .template-item-pregunta:hover,
.design-formato .drop_pregunta .template-item-pregunta:focus{
/*    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}
.design-formato ol.encabezado-drop-pregunta .template-item-pregunta{
    padding: 0;
    margin: 0;
}
.design-formato .drop_pregunta .template-item-pregunta{
    -webkit-transition: border-color ease-in-out 200ms,box-shadow ease-in-out 200ms, -webkit-transform ease-in-out 200ms, opacity ease-in-out 500ms;
    -moz-transition: border-color ease-in-out 200ms,box-shadow ease-in-out 200ms, -moz-transform ease-in-out 200ms, opacity ease-in-out 500ms;
    -ms-transition: border-color ease-in-out 200ms,box-shadow ease-in-out 200ms, -ms-transform ease-in-out 200ms, opacity ease-in-out 500ms;
    -o-transition: border-color ease-in-out 200ms,box-shadow ease-in-out 200ms, -o-transform ease-in-out 200ms, opacity ease-in-out 500ms;
    transition: border-color ease-in-out 200ms,box-shadow ease-in-out 200ms, transform ease-in-out 200ms, opacity ease-in-out 500ms;
}
.design-formato .drop_pregunta .template-item-pregunta input:not(:disabled),
.design-formato .drop_pregunta .template-item-pregunta select:not(:disabled)
{
    width: auto;
    height: 34px;
    padding: 6px 12px;
    /*font-size: 14px;*/
    /*line-height: 1.428571429;*/
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 500ms,box-shadow ease-in-out 500ms, -webkit-transform ease-in-out 500ms, opacity ease-in-out 500ms;
    -moz-transition: border-color ease-in-out 500ms,box-shadow ease-in-out 500ms, -moz-transform ease-in-out 500ms, opacity ease-in-out 500ms;
    -ms-transition: border-color ease-in-out 500ms,box-shadow ease-in-out 500ms, -ms-transform ease-in-out 500ms, opacity ease-in-out 500ms;
    -o-transition: border-color ease-in-out 500ms,box-shadow ease-in-out 500ms, -o-transform ease-in-out 500ms, opacity ease-in-out 500ms;
    transition: border-color ease-in-out 500ms,box-shadow ease-in-out 500ms, transform ease-in-out 500ms, opacity ease-in-out 500ms;
    background: transparent;
    border: none;
    box-shadow: none;
}
.design-formato .drop_pregunta .template-item-pregunta.editando input:not(:disabled),
.design-formato .drop_pregunta .template-item-pregunta:hover input:not(:disabled),
.design-formato .drop_pregunta .template-item-pregunta:focus input:not(:disabled),
.design-formato .drop_pregunta .template-item-pregunta.editando select:not(:disabled),
.design-formato .drop_pregunta .template-item-pregunta:hover select:not(:disabled),
.design-formato .drop_pregunta .template-item-pregunta:focus select:not(:disabled)
{
    background-color: #FFF;
    /*border: 1px solid #CCC;*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.design-formato .drop_pregunta .template-item-pregunta.editando input:not(:disabled):focus,
.design-formato .drop_pregunta .template-item-pregunta.editando select:not(:disabled):focus{
    border: 1px solid #444;
}
.view-pregunta.ui-draggable{
    width: 90%;
}
/*********** Diseñar Página Formato ***********/

/*********** Form ***********/
/*********** Imprimir ***********/
@media print{
    .mmenu,
    .mm-page #header,
    .mm-page #content > form.edit-inline
    {
        display: none;
        opacity: 0;
    }
    body,
    .mm-page{
        padding: 0;
        margin-top: 0px;
    }
    .hoja-cont{
        border: 0;
        box-shadow: none;
    }
    #content .encabezado-pagina{
        position: running(header);
        overflow: visible;
    }
    #content .pie-pagina{
        position: running(fotter);
        overflow: visible;
    }
    .salto-pagina{
        margin-top: 50px;
    }
    .design-formato .template-item-pregunta{
        margin: 0;
        padding: 0;
    }
    .design-formato .drop_pregunta .template-item-pregunta input:not(:disabled),
    .form-group{
        width: 100%;
    }
    
}
@page {
    size: 215mm 279mm;
    margin: 1px;
    border: 0;
    box-shadow: none;
}
/*********** Imprimir ***********/
/*********** Estilos Diseño Formularios ***********/
.content-group-preguntas.Grupo-En-Linea,
.content-group-preguntas.En-Linea{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    /*width: 90%;*/
    min-height: 45px;
}
.content-group-preguntas.Grupo-En-Linea li,
.content-group-preguntas.En-Linea li{
    margin: 3px 3px 3px 0;
    display: inline-block;
}
.content-group-preguntas.Grupo-En-Bloque,
.content-group-preguntas.En-Bloque{
    padding: 0;
}
.content-group-preguntas.Grupo-En-Bloque li,
.content-group-preguntas.En-Bloque li{
    margin: 3px 0px 3px 0;
    display: block;
}
.template-item-pregunta .form-group,
.content-group-preguntas.Grupo-En-Linea .template-item-pregunta form,
.content-group-preguntas.En-Linea .template-item-pregunta form{
    border:none;
    border-bottom: 1px solid #EEE;
}
.design-formato .template-item-pregunta .form-group,
.design-formato .template-item-pregunta.Ancho-1 .form-group input,
.design-formato .template-item-pregunta.Ancho-1 .form-group textarea,
.design-formato .template-item-pregunta.Ancho-2 .form-group input,
.design-formato .template-item-pregunta.Ancho-2 .form-group textarea,
.design-formato .template-item-pregunta.Ancho-3 .form-group input,
.design-formato .template-item-pregunta.Ancho-3 .form-group textarea,
.design-formato .template-item-pregunta.Ancho-4 .form-group input,
.design-formato .template-item-pregunta.Ancho-4 .form-group textarea,
.design-formato .template-item-pregunta.Ancho-5 .form-group input,
.design-formato .template-item-pregunta.Ancho-5 .form-group textarea,
.design-formato .template-item-pregunta.Ancho-6 .form-group input,
.design-formato .template-item-pregunta.Ancho-6 .form-group textarea,
.design-formato .content-group-preguntas.Grupo-En-Linea .template-item-pregunta input,
.design-formato .content-group-preguntas.En-Linea .template-item-pregunta input,
.design-formato .content-group-preguntas.Grupo-En-Linea .template-item-pregunta.editando input,
.design-formato .content-group-preguntas.En-Linea .template-item-pregunta.editando input,
.design-formato .content-group-preguntas.Grupo-En-Linea .template-item-pregunta:hover input,
.design-formato .content-group-preguntas.En-Linea .template-item-pregunta:hover input,
.design-formato .content-group-preguntas.Grupo-En-Linea .template-item-pregunta:focus input,
.design-formato .content-group-preguntas.En-Linea .template-item-pregunta:focus input{
    width: 100%;
}
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea .template-item-pregunta.editando,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea .template-item-pregunta.editando,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea .template-item-pregunta:hover,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea .template-item-pregunta:hover,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea .template-item-pregunta:focus,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea .template-item-pregunta:focus
{
    margin: 1% 0;
    padding: 3px;
}
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-2 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-2 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-3 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-3 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-4 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-4 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-5 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-5 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-6 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-6 .template-item-pregunta
{
    display: inline-block;
}
.design-formato .Ancho-1.template-item-pregunta .form-group,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-1 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-1 .template-item-pregunta{
    width: 99%;
}
.design-formato .Ancho-2.template-item-pregunta .form-group,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-2 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-2 .template-item-pregunta{
    width: 49%;
}
.design-formato .Ancho-3.template-item-pregunta .form-group,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-3 .template-item-pregunta{
    width: 32%;
}
.design-formato .Ancho-4.template-item-pregunta .form-group,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-4 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-4 .template-item-pregunta{
    width: 24%;
}
.design-formato .Ancho-5.template-item-pregunta .form-group,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-5 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-5 .template-item-pregunta{
    width: 19%;
}
.design-formato .Ancho-6.template-item-pregunta .form-group,
.design-formato .drop_pregunta .content-group-preguntas.Grupo-En-Linea.Columnas-6 .template-item-pregunta,
.design-formato .drop_pregunta .content-group-preguntas.En-Linea.Columnas-6 .template-item-pregunta{
    width: 15%;
}
.design-formato .template-item-pregunta .options-design{
    display: none;
    opacity: 0;
    margin-top: -30px;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.design-formato .template-item-pregunta:hover > .options-design,
.design-formato .template-item-pregunta:focus > .options-design,
.design-formato .template-item-pregunta.editando > .options-design,
.design-formato .view-pregunta:hover .options-design,
.design-formato .view-pregunta:focus .options-design,
.design-formato .view-pregunta.editando .options-design{
    display: block;
    opacity: 1;
}
.template-item-pregunta.Alinear-a-la-Izquierda input,
.template-item-pregunta.Alinear-a-la-Izquierda select,
.template-item-pregunta.Alinear-a-la-Izquierda textarea,
.template-item-pregunta.Alinear-a-la-Izquierda{
    text-align: left;
}
.template-item-pregunta.Alinear-a-la-Dereha input,
.template-item-pregunta.Alinear-a-la-Dereha select,
.template-item-pregunta.Alinear-a-la-Dereha textarea,
.template-item-pregunta.Alinear-a-la-Derecha{
    text-align: right;
}
.template-item-pregunta.Alinear-al-Centro input,
.template-item-pregunta.Alinear-al-Centro select,
.template-item-pregunta.Alinear-al-Centro textarea,
.template-item-pregunta.Alinear-al-Centro{
    text-align: center;
}
.dropup .dropdown-menu{
    margin-bottom: 0;
}
/*********** Estilos Diseño Formularios ***********/

/*********** buscador ***********/
.input-group .form-control:first-child{
    width: 65%;
}
input + .input-group-addon{
    width: 35%;
}
.glyphicon *{
    display: none;
}
.row.show-grid h3{
    margin: 0;
}
th .pagination{
    margin: 0;
}
.form-buscar .input-group,
.form-buscar{
    width: 100%;
}
.form-buscar #form_Buscar{
    max-width: 130px;
    margin-top: -2px;
}
.btn-group, .btn-group-vertical{
    border: none;
}
/*********** buscador ***********/
/*********** Modal ***********/
.form-control{
    margin-bottom: 10px;
}
/*********** Modal ***********/